<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
    <div class="input-field">
        <input id="title" type="text" name="title" value="{{course.title}}" class="validate" required>
        <label for="title">Name course</label>
        <span class="helper-text" data-error="Put the name" data-success="right"></span>
    </div>
    <div class="input-field">
        <input id="price" type="number" name="price" value="{{course.price}}" class="validate" required min="1">
        <label for="price">Price for course</label>
        <span class="helper-text" data-error="Put the price" data-success="right"></span>
    </div>
    <div class="input-field">
        <input id="img" type="text" name="img" value="{{course.img}}" class="validate" required>
        <span class="helper-text" data-error="Put the URL image" data-success="right"></span>
        <label for="img">URL image</label>
    </div>
    <input name="id" type="hidden" value="{{course.id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit" class="btn btn-primary">Edit course</button>
</form>

<form action="/courses/remove" method="POST">
    <input type="hidden" name="id" value="{{course.id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn red">Delete course</button>
</form>